@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
// ========================================== colors ======================================//

// primary
$lightBlue: rgb(102, 226, 220);
$orange: rgb(250, 116, 83);
$yellow: rgb(255, 185, 100);
// Neutral
$white: rgb(252, 250, 249);
$black: rgb(25, 24, 38);

// ========================================= Typography =====================================
$FamilyPlexSans: " IBM Plex Sans";
$WeightsNormal: 400;
$WeightsBold: 700;
$WeightsLargeBold: 900;
